html, body {
    min-height: 98vh;
    margin: 0;
    padding: 0;
}
#upper {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#upper a {
    margin-right: 10px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
    text-decoration: none;
}

#logo {
    text-align: center;
    margin-top: 222px;
}
#search {
    text-align: center;
}
#bar {
    margin-top: 20px;
    height: 30px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px;
}
#buttons {
    margin-top: 15px;
    text-align: center;
}
#buttons button {
    background-color: rgb(237, 248, 248);
    height: 31px;
    font-size: 17px;
    margin-top: 13px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(252, 234, 178);

}

#language {
    text-align: center;
    background: rgb(231, 243, 233);
}
#buttom-navbar {
    position: sticky;
    top: 95%;
    width: 100%;
}
